body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	box-sizing: border-box;
	background-color: #282c34;
}

.App {
	text-align: center;
	color: antiquewhite;
}

/* width */
::-webkit-scrollbar {
	width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px black;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: antiquewhite;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: antiquewhite;
}
